@model OnlineLibrarySystem_v1.Models.ViewModels.BookViewModel

@{
	ViewData["Title"] = "Create Book";
}

<h5>Create Book</h5>

<form class="col-5" asp-controller="Books" asp-action="Create" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<!-- Book Image -->
	<div class="mb-3">
		<label asp-for="Book.ImagePath" class="form-label"></label>
		<input
			asp-for="Book.ImagePath"
			class="form-control"
			name="bookImage"
			type="file"
			accept=".jpg,.jpeg,.png"
		/>
		<div class="form-text">Allowed formats: JPG, JPEG, PNG. Maximum size: 5MB</div>
		<span asp-validation-for="Book.ImagePath" class="text-danger"></span>
	</div>

	<!-- Title -->
	<div class="mb-3">
		<label asp-for="Book.Title" class="form-label">@Html.DisplayFor(model => model.Book.Title)</label>
		<input
			asp-for="Book.Title"
			class="form-control"
			type="text"
			placeholder="Enter title"
		/>
		<span asp-validation-for="Book.Title" class="text-danger"></span>
	</div>

	<!-- Description -->
	<div class="mb-3">
		<label asp-for="Book.Description" class="form-label">@Html.DisplayFor(model => model.Book.Description)</label>
		<textarea
			asp-for="Book.Description"
			class="form-control"
			placeholder="Enter description here..."
		></textarea>
		<span asp-validation-for="Book.Description" class="text-danger"></span>
	</div>

	<!-- Author -->
	<div class="mb-3">
		<label asp-for="Book.Author" class="form-label">@Html.DisplayFor(model => model.Book.Author)</label>
		<input asp-for="Book.Author"
			   class="form-control"
			   type="text"
			   placeholder="Enter author" />
		<span asp-validation-for="Book.Author" class="text-danger"></span>
	</div>

	<!-- Category -->
	<div class="mb-3">
		<label asp-for="Book.CategoryId" class="form-label">@Html.DisplayFor(model => model.Book.CategoryId)</label>
		<select class="form-select" asp-for="Book.CategoryId" asp-items="Model.CategoryList">
			<option selected>Choose a category</option>
		</select>
		<span asp-validation-for="Book.CategoryId" class="text-danger"></span>
	</div>

	<!-- Total Copies -->
	<div class="mb-3">
		<label asp-for="Book.TotalCopies" class="form-label">@Html.DisplayFor(model => model.Book.TotalCopies)</label>
		<input
			asp-for="Book.TotalCopies"
			class="form-control"
			type="number"
			placeholder="Enter total no. of copies"
		/>
		<span asp-validation-for="Book.TotalCopies" class="text-danger"></span>
	</div>

	<button class="btn btn-primary" type="submit">Submit</button>
	<a asp-controller="books" asp-action="index" class="btn btn-outline-secondary">Cancel</a>
</form>

@section Scripts
{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}