@model IEnumerable<OnlineLibrarySystem_v1.Models.ViewModels.BookListViewModel>

@{
	ViewData["Title"] = "Books";
}

<div class="container-fluid">

	<!-- TODO: Move this somewhere -->
	@if (ViewData["Username"] != null && ViewData["Role"].Equals("admin"))
	{
		<!-- Add Book Button (admin only) -->
		<div class="row my-3 justify-content-end">
			<a class="btn btn-outline-primary col-12 col-md-4 col-lg-2" asp-controller="books" asp-action="create">
				<i class="bi bi-plus"></i> Add Book
			</a>
		</div>
	}

	<!-- Search Book -->
	<form
		asp-controller="Books" 
		asp-action="Index"
		class="d-flex mb-3" 
		method="get"
		role="search"
	>
		<input
			id="search-input"
			class="form-control me-2"
			name="search"
			value="@ViewData["search"]"
			placeholder="Search for a book..."
			type="text"
		/>

		<button id="clear-search-btn" type="button">
			<i class="bi bi-x"></i>
		</button>

		<button
			class="btn btn-outline-success d-flex align-items-center justify-content-center gap-2"
			type="submit"
		>
			<i class="bi bi-search"></i>
			Search
		</button>
	</form>

	<!-- List of Books -->
	<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3">
		@foreach (var book in Model)
		{
			<div class="col">
				<a class="card h-100 text-decoration-none text-dark" asp-controller="books" asp-action="details" asp-route-id="@book.Id">
					<div style="aspect-ratio: 3/4; overflow: hidden;">
						<img src="@book.ImagePath" class="card-img-top w-100 h-100 object-fit-cover" alt="Book image">
					</div>

					<div class="card-body">
						<h5 class="card-title">@book.Title</h5>
						<p class="card-text">
							by <strong>@book.Author</strong><br />
							@book.TruncatedDescription
						</p>
					</div>
				</a>
			</div>
		}
	</div>
</div>

@section Scripts
{
	<script>
		$(document).ready(function() {
			function toggleClearSearchBtn() {
				if ($('#search-input').val().trim() !== '') {
					$('#clear-search-btn').show();
				} else {
					$('#clear-search-btn').hide();
				}
			}

			toggleClearSearchBtn();

			$('#search-input').on('input', function() {
				toggleClearSearchBtn();
			});

			$('#clear-search-btn').click(function() {
				$('#search-input').val('');
				$(this).hide();
			});
		});
	</script>
}