@model IEnumerable<OnlineLibrarySystem_v1.Models.Entities.Category>

@{
	ViewData["Title"] = "Categories";
}

@if (ViewData["Role"] != null && ViewData["Role"].Equals("admin"))
{
	<a class="btn btn-outline-primary float-end d-block mb-3" asp-controller="categories" asp-action="create">
		<i class="bi bi-plus"></i> Add Category
	</a>
}

<table class="table table-striped table-hover">
	<caption>List of categories</caption>

	<thead class="table-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			@if (ViewData["Role"] != null && ViewData["Role"].Equals("admin"))
			{
				<th scope="col">Actions</th>
			}
		</tr>
	</thead>

	<tbody>
		@{ int rowNumber = 1; }
		@foreach (var category in Model)
		{
			<tr>
				<th scope="row">@rowNumber</th>
				<td>
					<a asp-controller="categories" asp-action="details" asp-route-id="@category.Id">
						@Html.DisplayFor(modelItem => category.Name)
					</a>
				</td>

				@if(ViewData["Role"] != null && ViewData["Role"].Equals("admin"))
				{
					<td>
						<a
							class="btn btn-warning btn-sm"
							asp-controller="categories"
							asp-action="edit"
							asp-route-id="@category.Id"
						>
							<i class="bi bi-pencil-square"></i>
						</a>
						<a
							class="btn btn-danger btn-sm"
							asp-controller="categories"
							asp-action="delete"
							asp-route-id="@category.Id"
						>
							<i class="bi bi-trash"></i>
						</a>
					</td>
				}
			</tr>
			rowNumber++;
		}
	</tbody>
</table>